<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>{%= name %}</title>
		<link type="image/x-icon" rel="shortcut icon" href="/{%= name %}/favicon.ico" />
		<link type="text/css" rel="stylesheet" href="http://fonts.googleapis.com/css?family=Lato:400,700" />
		<link type="text/css" rel="stylesheet" href="/{%= name %}/css/app.css" />
		<!--
		  _                 _              _       _         _       _                 _
		 | |               | |            | |     | |       | |     | |               | |
		/ __)           ___| | ___ __ __ _| |_ ___| |__   __| | ___ | |_             / __)
		\__ \          / __| |/ / '__/ _` | __/ __| '_ \ / _` |/ _ \| __|            \__ \
		(   /          \__ \   <| | | (_| | || (__| | | | (_| | (_) | |_ _           (   /
		 |_|           |___/_|\_\_|  \__,_|\__\___|_| |_|\__,_|\___/ \__(_)           |_|

		                   wasting bytes with ascii art since [random date]
		-->
	</head>
	<body>
		<div id="app">
			<h1 id="app-loading">Loading {%= name %}...</h1>
		</div>
		<script type="text/javascript">
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
			ga('create', '{%= google_analytics_id %}', 'auto');
			ga('require', 'displayfeatures');
			ga('send', 'pageview');
		</script>
		<script src="/{%= name %}/js/app.js" async></script>
	</body>
</html>
